##### KEYS
# register the names of the loggers. all loggers are children of 'root'
# note that the 'root' logger is required
# as convention, all packages will have its own logger
[loggers]
keys=root

# register the names of the logging handlers (how the log messages will be handled)
[handlers]
keys=consoleHandler, nullHandler

# register names of the log message formatters 
[formatters]
keys=logFormat


##### LOGGERS
# configure the root logger
# loggers can have multiple handlers
[logger_root]
level=INFO
handlers=consoleHandler


##### HANDLERS
# configure the console handler
[handler_consoleHandler]
class=StreamHandler
formatter=logFormat
# single value tuple, so we need that comma at the end!
args=(sys.stdout,)

# special handler that does not output anything
[handler_nullHandler]
class=NullHandler
args=()


##### FORMATTERS
[formatter_logFormat]
format=%(asctime)s %(levelname)s %(name)s.%(funcName)s:%(lineno)d [%(threadName)s] %(message)s
datefmt=